#root {
  margin: 0 ;
  padding: 0;
  background-color: #B5CBF8;  
}

body{
  background-color: #DFF3F7;
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

h1{
  color: #292c31;
}

#welcomeToStocker{
  color: #292c31;
  font-size: 50px;
  margin: 0%;
}

h2{
  color: #292c31;
}

p{
  color: #687285;
}
