#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

body{
  background-color: #e2effd;
  font-family: 'Roboto';
}

h1{
  color: #292c31;
}

#welcomeToStocker{
  color: #292c31;
  font-size: 40px;
  margin: 0%;
}

h2{
  color: #292c31;
}

p{
  color: #687285;
}
